$baseColor: #03A9F4;

/*--normalize--*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-y: hidden;
  text-size-adjust: 100%;
  font-family: "Open Sans",sans-serif;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  background: $baseColor;
}
footer,
header,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: 0;
}
p {
  margin: 0 0 10px 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button:focus {
  outline: none!important;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="submit"] {
  border: none;
}
input[type="submit"]:focus {
  outline: none;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.clearfix:before,
.clearfix:after {
  content:" ";
  display:table;
}
.clearfix:after {
  clear:both;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 100%;
  }
}
.title,
.intro {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.title {
  font-size: 70px;
  margin: 0;
}
.intro {
  font-size: 30px;
  margin: 15px 0 20px;
}
.btn-area {
  width: 600px;
  margin: 0 auto;
  @media (max-width: 480px) {
    width: 100%;
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.scale {
  animation: scale both .4s cubic-bezier(0.4, 0, 0, 1.5);
}

.btn {
  display: inline-block;
  color: #0a1855;
  width: 140px;
  padding: 0;
  font-size: 18px;
  background: #fff;
  margin: 20px 30px;
  line-height: 42px;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  @media (max-width: 480px) {
    width: 40%;
    margin: 15px 5%;
  }
  &:hover {
    box-shadow: 0 0 50px rgba(255,255,255,.3);
  }
  &:active {
    box-shadow: 0 0 50px rgba(255,255,255,.3), inset 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 800px) {
  #fork {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    z-index: 9999;
    overflow: hidden;
    a {
      position: absolute;
      width: 280px;
      top: 50px;
      right: -70px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      padding: 10px 40px;
      background: #FFA500;
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
      box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
      &:hover {
        background: #FF8500;
      }
      &:before,
      &:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 1px;
        background: #fff;
      }
      &:after {
        bottom: 1px;
        top: auto;
      }
    }
  }
}
