$baseColor: #03A9F4;

/*--normalize--*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-y: hidden;
  text-size-adjust: 100%;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  background: $baseColor;
}
footer,
header,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: 0;
}
p {
  margin: 0 0 10px 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button:focus {
  outline: none!important;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="submit"] {
  border: none;
}
input[type="submit"]:focus {
  outline: none;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.clearfix:before,
.clearfix:after {
  content:" ";
  display:table;
}
.clearfix:after {
  clear:both;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  @media ( max-width : 480px ) {
    width: 100%;
  }
}
.title,
.intro {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.title {
  font-size: 60px;
  margin: 0;
}
.intro {
  font-size: 26px;
}
.btn-area {
  width: 600px;
  margin: 0 auto;
  @media ( max-width : 480px ) {
    width: 100%;
  }
}
.btn {
  display: inline-block;
  color: #fff;
  width: 140px;
  font-size: 18px;
  margin: 20px 30px;
  line-height: 36px;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  background: $baseColor;
  border: 1px solid #fff;
  @media ( max-width : 480px ) {
    width: 40%;
    margin: 15px 5%;
  }
}
.content-title {
  font-size: 36px;
  margin-top: 95px;
  color: $baseColor;
  text-align: center;
}