/* -- normalize -- */
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans",sans-serif;
}
a {
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    outline: 0;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
button {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* -- container -- */
#app,
.wrap {
    height: 100%;
}
.container {
    width: 100%;
}
.title,
.intro {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.title {
    font-size: 70px;
    margin: 0;
}
.intro {
    font-size: 30px;
    margin: 15px 10px 20px;
}
.btn-area {
    width: 600px;
    margin: 0 auto;
}

/* -- scale animation -- */
@keyframes scale {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.scale {
    animation: scale both .4s cubic-bezier(0.4, 0, 0, 1.5);
}

/* -- btn -- */
.btn {
    display: inline-block;
    color: #0a1855;
    width: 140px;
    padding: 0;
    font-size: 18px;
    background: #fff;
    margin: 20px 30px;
    line-height: 42px;
    user-select: none;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.btn:hover {
    box-shadow: 0 0 50px rgba(255,255,255,.3);
}
.btn:active {
    box-shadow: 0 0 50px rgba(255,255,255,.3), inset 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0);
}
@media (max-width: 600px) {
    .container {
        padding-top: 30px!important;
    }
    .title {
        font-size: 40px;
    }
    .intro {
        font-size: 20px;
    }
    .btn {
        width: 35%;
        font-size: 16px;
        line-height: 34px;
        margin: 10px 0 10px 10%;
    }
    .btn-area {
        width: 100%;
    }
}