
.react-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.react-dialog-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.react-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  background: #fff;
}