.react-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-dialog-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
}

.react-dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 280px;
  margin-top: -160px;
  margin-left: -250px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.react-dialog-close {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    transition: all .2s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #333;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

@keyframes react-dialog-alert-enter {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
.react-dialog-alert-enter {
  animation: react-dialog-alert-enter .4s both;
}

@keyframes react-dialog-alert-leave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.react-dialog-alert-leave {
  animation: react-dialog-alert-leave .4s both;
}