$close-btn-size: 16px;
$box-width: 500px;
$box-height: 280px;

.rodal,
.rodal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rodal {
  position: fixed;
}

.rodal-mask {
  position: absolute;
  background: rgba(0,0,0,.2);
}

.rodal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $box-width;
  height: $box-height;
  margin-top: - ($box-height / 2 + 20);
  margin-left: - $box-width / 2;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.rodal-close {
  position: absolute;
  cursor: pointer;
  top: $close-btn-size;
  right: $close-btn-size;
  width: $close-btn-size;
  height: $close-btn-size;
  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    transition: all .2s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #333;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

//animation
@keyframes rodal-fade-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rodal-fade-enter {
  animation: rodal-fade-enter both ease-in-out;
}

@keyframes rodal-fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rodal-fade-leave {
  animation: rodal-fade-leave both ease-in-out;
}

@keyframes rodal-zoom-enter {
  0% {
    transform: scale3d(.3, .3, .3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.rodal-zoom-enter {
  animation: rodal-zoom-enter both ease-in-out;
}

@keyframes rodal-zoom-leave {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(.3, .3, .3);
  }
}
.rodal-zoom-leave {
  animation: rodal-zoom-leave both ease-in-out;
}


@keyframes rodal-slide-down-enter {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rodal-slide-down-enter {
  animation: rodal-slide-down-enter both ease-in-out;
}

@keyframes rodal-slide-down-leave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100px, 0);
  }
}
.rodal-slide-down-leave {
  animation: rodal-slide-down-leave both ease-in-out;
}

