$closeButtonSize: 16px;

.rodal,
.rodal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rodal {
  position: fixed;
}

.rodal-mask {
  position: absolute;
  background: rgba(0,0,0,.2);
}

.rodal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 280px;
  margin-top: -160px;
  margin-left: -250px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.rodal-close {
  position: absolute;
  cursor: pointer;
  top: $closeButtonSize;
  right: $closeButtonSize;
  width: $closeButtonSize;
  height: $closeButtonSize;
  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    transition: all .2s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #333;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

//animation
@keyframes rodal-alert-enter {
  0% {
    transform: scale(.2);
  }
  100% {
    transform: scale(1);
  }
}
.rodal-alert-enter {
  animation: rodal-alert-enter both;
}

@keyframes rodal-alert-leave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.2);
  }
}
.rodal-alert-leave {
  animation: rodal-alert-leave both;
}


