$box-width: 420px;
$box-height: 240px;
$base-size: 16px;
$button-width: 70px;
$text-color: #555;
$base-color: #03A9F4;
$hover-color: #0299E4;
$active-color: #0189D4;

.rodal,
.rodal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rodal {
  position: fixed;
}

.rodal-mask {
  position: absolute;
  background: rgba(0,0,0,.3);
}

.rodal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $box-width;
  height: $box-height;
  padding: 16px;
  margin-top: - ($box-height / 2 + 20);
  margin-left: - $box-width / 2;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.rodal-close {
  position: absolute;
  cursor: pointer;
  top: $base-size;
  right: $base-size;
  width: $base-size;
  height: $base-size;
  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    transition: all .2s ease;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before,
    &:after {
      background: #333;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.rodal-title {
  color: $text-color;
  margin: 0 (-$base-size);
  font-size: $base-size;
  line-height: $base-size;
  padding: 0 0 $base-size $base-size;
  border-bottom: 1px solid #e9e9e9;
}

.rodal-body {
  color: $text-color;
  padding-top: $base-size;
}

.rodal-confirm-btn,
.rodal-cancel-btn {
  position: absolute;
  width: $button-width;
  bottom: $base-size;
  padding: 0;
  line-height: 30px;
  border: 1px solid $base-color;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
.rodal-confirm-btn {
  color: #fff;
  right: $base-size * 2 + $button-width;
  background: $base-color;
  &:hover {
    background: $hover-color;
  }
  &:active {
    background: $active-color;
  }
}
.rodal-cancel-btn {
  color: $base-color;
  right: $base-size;
  background: #fff;
  &:hover {
    color: $active-color;
    background: #fafafa;
  }
  &:active {
    color: $active-color;
    background: #fafafa;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0);
  }
}

//fade
@keyframes rodal-fade-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rodal-fade-enter {
  animation: rodal-fade-enter both ease-in;
}

@keyframes rodal-fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}
.rodal-fade-leave {
  animation: rodal-fade-leave both ease-out;
}

//zoom
@keyframes rodal-zoom-enter {
  0% {
    transform: scale3d(.3, .3, .3);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.rodal-zoom-enter {
  animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes rodal-zoom-leave {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(.3, .3, .3);
  }
}
.rodal-zoom-leave {
  animation: rodal-zoom-leave both cubic-bezier(0.4, 0, 0, 1.5);
}


//slideDown
@keyframes rodal-slideDown-enter {
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rodal-slideDown-enter {
  animation: rodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes rodal-slideDown-leave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100px, 0);
  }
}
.rodal-slideDown-leave {
  animation: rodal-slideDown-leave both ease;
}

//slideLeft
@keyframes rodal-slideLeft-enter {
  0% {
    transform: translate3d(-150px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rodal-slideLeft-enter {
  animation: rodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes rodal-slideLeft-leave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-150px, 0, 0);
  }
}
.rodal-slideLeft-leave {
  animation: rodal-slideLeft-leave both ease;
}

//slideRight
@keyframes rodal-slideRight-enter {
  0% {
    transform: translate3d(150px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rodal-slideRight-enter {
  animation: rodal-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes rodal-slideRight-leave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(150px, 0, 0);
  }
}
.rodal-slideRight-leave {
  animation: rodal-slideRight-leave both ease;
}

//slideUp
@keyframes rodal-slideUp-enter {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.rodal-slideUp-enter {
  animation: rodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes rodal-slideUp-leave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100px, 0);
  }
}
.rodal-slideUp-leave {
  animation: rodal-slideUp-leave both ease;
}

//flip
@keyframes rodal-flip-enter {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }
  70% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    transform: perspective(400px);
  }
}
.rodal-flip-enter {
  backface-visibility: visible !important;
  animation: rodal-flip-enter both ease-in;
}

@keyframes rodal-flip-leave {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
  }
}
.rodal-flip-leave {
  animation: rodal-flip-leave both;
  backface-visibility: visible !important;
}

@keyframes rodal-rotate-enter {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -180deg) scale3d(.3, .3, .3);
  }
  to {
    transform-origin: center;
    transform: scale3d(1, 1, 1);
  }
}
.rodal-rotate-enter {
  animation: rodal-rotate-enter both;
}

@keyframes rodal-rotate-leave {
  from {
    transform-origin: center;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 180deg) scale3d(.3, .3, .3);
  }
}
.rodal-rotate-leave {
  animation: rodal-rotate-leave;
}

@keyframes rodal-door-enter {
  from {
    transform: scale3d(0, 1, 1);
  }
  to {
    transform: scale3d(1, 1, .1);
  }
}
.rodal-door-enter {
  animation: rodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
}
@keyframes rodal-door-leave {
  from {
    transform: scale3d(1, 1, 1);
  }
  60% {
    transform: scale3d(.01, 1, 1);
  }
  to {
    transform: scale3d(0, 1, .1);
  }
}
.rodal-door-leave {
  animation: rodal-door-leave both;
}